<%- include("partials/header.ejs") %>

<script type="text/javascript">
    home.classList.remove("selectNav");
    graph.classList.add("selectNav");
    news.classList.remove("selectNav");
</script>

<div class="mainContent">
    <p>HELLO, THIS IS MY GRAPH PAGE!</p>
</div>


<%- include("partials/footer.ejs") %>