<%- include("partials/header.ejs") %>

<script type="text/javascript">
    home.classList.remove("selectedNav");
    graph.classList.remove("selectedNav");
    news.classList.add("selectedNav");
</script>

<div class="mainContent">
    <p>HELLO, THIS IS MY NEWS PAGE!</p>
</div>


<%- include("partials/footer.ejs") %>