* {
  margin: 0;
  padding: 0;
}

/* *************************TOP PAGE************************* */
header {
  background-color: rgb(228, 228, 228);
  border: .25rem solid #22b14c;
  display: flex;
  flex-direction: row;
  padding: 3rem 0rem 3rem 1.5rem;
}

nav {
  align-self: center;
  margin-left: auto;
  padding-right: 10rem;
}

/* h2 {
  margin: 1rem 0rem;
} */

/* .nav-title {
  text-decoration: none;
  color: red;
} */

/* .navbar-list {
  list-style: none;
} */

.navbar-list li {
  display: inline;
  font-size: 1.5rem;
  padding-left: 5rem;
}

li a, .navbar-name a {
  color: black;
  text-decoration: none;
}

.selected-nav {
  text-decoration: underline;
  text-decoration-color: black;
}


/* *************************MAIN PAGE************************* */

.side-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(228, 228, 228);
  border-right: .25rem solid #22b14c;
  border-bottom: .25rem solid #22b14c; */
  border-right: .5rem solid rgb(228, 228, 228);
  border-bottom: .5rem solid rgb(228, 228, 228);
  height: 80vh;
  width: 20vw;
  float:left;
}

.main-content {
  display: flex;
  align-items: flex-start;
  /* height: 80vh; */
  flex-direction: column;
  padding-top: 5px;
  /* border: 2px solid black; */
}

.stock-form, .stock-select, .time-select {
  border: 2px solid green;
  color: green;
}

.error-API{
  color: red;
  font-size: 1.1rem;
  font-weight: 900;
  margin: auto;
  margin-bottom: 10px;
}

.chart {
  background-color: silver;
  margin: auto;
  margin-bottom: 50px;
}









