* {
  margin: 0;
  padding: 0;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ****************** Header ****************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


header {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  /* -webkit-box-shadow: 0 5px 15px 1px #000;
  -moz-box-shadow: 0 5px 15px 1px #000;
  box-shadow: 0 5px 15px 1px #000;
  position: relative;
  z-index: 10; */
}

h1 {
  color: white;
}

.header-stock-container,
.site-title {
  display: flex;
  justify-content: center;
  /* background-color: rgba(0,0,0,0.19); */
  border-right: 2px solid rgb(88, 88, 88);
  flex-direction: column;
  flex-grow: 1;
  font-weight: 900;
  margin: 2rem 0rem;
  padding: .5rem 2.5rem;
}

.site-logo,
h1 {
  display: flex;
  margin: 0 .5rem;
  height: 40px;
  width: 40px;
}

.header-stock-container:last-child {
  border-right: none;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: .25rem;
  width: 100%;
}

.header-symbol {
  all: unset;
  /* border-bottom: 2px solid rgb(88, 88, 88); */
  color: rgb(240, 206, 156);
  font-size: 1.2rem;
  margin-right: auto;
  width: 4rem;
}

.header-close {
  align-items: flex-end;
  margin-left: auto;
}

.stock-neg,
.market-CLOSED {
  color: rgb(245, 77, 77);
}

.stock-pos,
.market-OPEN {
  color: rgb(91, 245, 77);
}

.header-stock-change {
  font-size: .8rem;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ****************** Navbar ****************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.nav-box {
  /* background-color: rgb(228, 228, 228); rgb(240, 206, 156)*/
  background-color: silver;
  border: .25rem solid rgb(27, 27, 27);
  border-left: none;
  /* border-right: none; */
  border-top: none;
  /* rgb(27, 27, 27) */
  display: flex;
  flex-direction: row;
  /* padding: 1.2rem 0rem 1.2rem 1.5rem; */

    -webkit-box-shadow: 0 2px 15px 1px #000;
  -moz-box-shadow: 0 2px 15px 1px #000;
  box-shadow: 0 2px 15px 1px #000;
  position: relative;
  z-index: 10;
}

nav {
  align-self: center;
  margin-left: auto;
  padding-right: 5rem;
}

.navbar-time {
  /* display: flex;
  flex-direction: column; */
  border-right: .15rem solid rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 2rem;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-main {
  display: flex;
  flex-direction: row;
}

.app-content {
  background-image: url('./images/main-background.png');        /* from: https://pattern.monster/japanese-pattern-1/ */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-list li {
  display: inline;
  font-size: 1.5rem;
  padding-left: 5rem;
}

li a,
.navbar-time a,
a {
  color: black;
  text-decoration: none;
}

.selected-nav {
  text-decoration: underline;
  text-decoration-color: black;
}


/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* **************************************************** MAIN PAGE ******************************************************* */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */



/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** News Aside **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.news-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgb(20, 51, 98); */
  background-image: url('./images/news-background.png');        /* from: https://pattern.monster/japanese-pattern-1/ */
  /* border-right: .5rem solid rgb(228, 228, 228); */
  border-right: .5rem solid rgb(27, 27, 27);
  /* border-bottom: .5rem solid rgb(228, 228, 228); */
  /* height: 80vh; */
  padding-top: 5px;
  width: 20vw;
  flex-direction: column;

}

.news-section-title {
  /* color: white; */
  color: rgb(240, 206, 156);
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.news-select {
  border: 2px solid black;
  color: black;
  margin: 1rem .2rem 0rem;
}

.form-submit {
  border-radius: .2rem;
  cursor: pointer;
  padding: .15rem;
}

.form-submit:hover {
  /* box-shadow: 0 .1rem .5rem 0 #22b14c, 0 17px 50px 0 rgba(0,0,0,0.19); */
  box-shadow: 0 .1rem .5rem 0 #000000, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.news-data {
  margin: 0px auto;
  padding: 20px 0px;
  width: 95%;
}

.news-card {
  background-color: white;
  /* border: .4rem solid rgba(0, 110, 255, 0.6); */
  border: .3em solid rgb(240, 206, 156);
  border-radius: 1.2rem;
  padding: .25rem 0rem 0rem;
  margin: 1rem 0rem 2rem;
  /* font-size: .8rem; */
}

.news-card a {
  text-decoration: underline;
  cursor: pointer;
}

.news-header,
.news-footer {
  display: flex;
  flex-direction: row;
}

.news-number {
  border: 1px solid black;
  border-radius: 50%;
  /* height: 10px;
  padding: 5px;
  width: 10px; */
  height: 1rem;
  padding: .35rem;
  margin: 0rem .9rem .35rem .75rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-company {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0rem .9rem .35rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.news-title {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.news-summary {
  border-top: .1rem solid red;
  border-bottom: .1rem solid red;
  font-size: .85rem;
  padding: .5rem;
  text-align: center;
}

/* hr {
  border: .1rem solid red;
  margin: auto;
  width: 75%;
} */

.news-source {
  display: flex;
  align-items: center;
  font-size: .8rem;
  margin-right: auto;
  padding: .5rem 1rem 0rem;
}

.news-date {
  display: flex;
  align-items: center;
  font-size: .8rem;
  justify-content: center;
  margin-left: auto;
  padding: .5rem 1rem 0rem;
}

.news-footer {
  margin-bottom: -.5rem;
  /* Look into if having negative value is okay or not. Likely not.
                                 Find where to minimalize the padding/margin below source + date. */
}

.page-button {
  color: rgb(240, 206, 156);
  display: flex;
  justify-content: center;
}

.page-change {
  background: none;
  /* color: inherit; */
  color: rgb(7, 176, 255);
  border: none;
  padding: 0 .5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0rem;
}




/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** Graph Page **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.graph-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* height: 80vh; */
  flex-direction: column;
  padding-top: 5px;
  margin: auto;
  
  /* delete 0 rem to make graph + text stay in middle of page*/
  /* width: 100%;                      change if you want to make graph and all above text centered... or edit flexbox on this item. */
  /* border: 2px solid black; */
}

.stock-select,
.time-select {
  border: 2px solid black;
  color: black;
  margin: 2rem .2rem 0rem;
}

.error-API {
  color: red;
  font-size: 1.1rem;
  font-weight: 900;
  margin: auto;
  margin-bottom: 10px;
}

.chart {
  /* background-color: rgb(20, 51, 98); */
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 2rem auto;
  /* delete 0 rem to make graph stay in middle of page*/
  margin-bottom: 50px;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** Terms Page **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */

.terms-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
}

.terms-page-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.terms-section {
  width: 100%;
}

.term-word {
  font-size: 1.75rem;
  padding-bottom: .25rem;
}

.term-definition {
  font-size: 1.2rem;
}

.term-box {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  margin: 2rem 0 0;
}

.term-box:last-child {
  border-bottom: none;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ************** Not Found Page ************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: auto; */
  /* flex-grow: 1; */
  /* width: 100%; */
}

.page-not-found-img {
  position: relative;
  width: 100%;
  /* flex-grow: 1; */
}


.page-not-found-msg {
  position: absolute;
  color: white;
  font-size: 5rem;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: black;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ****************** Footer ****************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


footer {
  background-color: rgb(27, 27, 27);
  color: white;
  margin: auto;
  padding: 2.5rem 0rem;
  text-align: center;
  width: 100%;
}

.contacts-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto 1.75rem;
  width: 80%;
}

.footer-icon-box {
  display: flex;
  flex-direction: row;
  font-size: 1.75rem;
}

.footer-icon-box a {
  color: white;
}

.footer-link {
  color: white;
}

.footer-icon {
  padding: 0 .75rem;
}

.copyright-box {
  border-top: .1rem solid rgb(88, 88, 88);
  color: rgb(240, 206, 156);
  margin: auto;
  padding-top: 1.75rem;
  width: 80%;
}

.copyright-logo {
  font-size: .8rem;
}