* {
  margin: 0;
  padding: 0;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ****************** Header ****************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


header {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

h1 {
  color: white;
}

.header-stock-container {
  display: flex;
  justify-content: center;
  border-right: 2px solid rgb(88, 88, 88);
  flex-direction: column;
  flex-grow: 1;
  font-weight: 900;
  margin: 2rem 0rem;
  padding: .5rem 2.5rem;
}

.site-title {
  display: flex;
  justify-content: center;
  border-right: 2px solid rgb(88, 88, 88);
  flex-direction: row;
  flex-grow: 1;
  font-weight: 900;
  margin: 2rem 0rem;
  padding: 1rem;
}

.site-logo {
  display: flex;
  margin-left: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

.header-stock-container:last-child {
  border-right: none;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: .25rem;
  width: 100%;
}

.header-symbol {
  all: unset;
  color: rgb(240, 206, 156);
  font-size: 1.2rem;
  margin-right: auto;
  width: 4rem;
}

.header-close {
  align-items: flex-end;
  margin-left: auto;
}

.stock-neg,
.market-CLOSED {
  color: rgb(245, 77, 77);
}

.stock-pos,
.market-OPEN {
  color: rgb(91, 245, 77);
}

.header-stock-change {
  font-size: .8rem;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ****************** Navbar ****************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.nav-box {
  background-color: rgb(172, 172, 172);
  border: .25rem solid rgb(27, 27, 27);
  border-left: none;
  border-top: none;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 0 2px 15px 1px #000;
  -moz-box-shadow: 0 2px 15px 1px #000;
  box-shadow: 0 2px 15px 1px #000;
}

nav {
  align-self: center;
  margin-left: auto;
  padding-right: 5rem;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navbar-menu-mini {
  display: none;
}

.navbar-list .nav-item,
.footer-link {
  display: inline;
  font-size: 1.5rem;
  padding-left: 3.75rem;
}

a {
  color: black;
  text-decoration: none;
}

.navbar-link-toggle {
  display: none;
}

.navbar-time {
  border-right: .15rem solid rgb(27, 27, 27);
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 2rem;
}

.market-clock {
  margin-left: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-main {
  display: flex;
  flex-direction: row;
}

.app-content {
  background-image: url('./images/main-background.png');
  /* from: https://pattern.monster/japanese-pattern-1/ */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selected-nav {
  text-decoration: underline;
  text-decoration-color: black;
}


/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* **************************************************** MAIN PAGE ******************************************************* */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */



/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** News Aside **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.news-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./images/news-background.png');
  border-right: .5rem solid rgb(27, 27, 27);
  padding-top: 5px;
  width: 27rem;
  flex-direction: column;
}

.news-section-title {
  /* color: white; */
  color: rgb(240, 206, 156);
  font-size: 2rem;
  font-weight: 900;
  margin-top: 1rem;
}

.news-select, .stock-select, .time-select{
  border: 2px solid black;
  background-color: rgb(240, 206, 156);
  color: rgb(20, 51, 97);
  margin: 1rem .2rem 0rem;
  padding: .5rem;
}

.news-select option {
  color: rgb(20, 51, 97);
}

.news-data {
  margin: 0px auto;
  padding: 20px 0px;
  width: 95%;
}

.news-card {
  background-color: white;
  border: .3em solid rgb(240, 206, 156);
  border-radius: 1.2rem;
  padding: .25rem 0rem 0rem;
  margin: 1rem 0rem 2rem;
}

.news-card a {
  text-decoration: underline;
  cursor: pointer;
}

.news-header,
.news-footer {
  display: flex;
  flex-direction: row;
}

.news-number {
  border: 1px solid black;
  border-radius: 50%;
  height: 1rem;
  padding: .35rem;
  margin: 0rem .9rem .35rem .75rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-company {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0rem .9rem .35rem;
  font-weight: 900;
  font-size: 1.2rem;
}

.news-title {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.news-summary {
  border-top: .1rem solid red;
  border-bottom: .1rem solid red;
  font-size: .85rem;
  padding: .5rem;
  text-align: center;
}

.news-source {
  display: flex;
  align-items: center;
  font-size: .8rem;
  margin-right: auto;
  padding: .5rem 1rem 0rem;
}

.news-date {
  display: flex;
  align-items: center;
  font-size: .8rem;
  justify-content: center;
  margin-left: auto;
  padding: .5rem 1rem 0rem;
}

.news-footer {
  margin-bottom: -.5rem;
  /* Look into if having negative value is okay or not. Likely not.
    Find where to minimalize the padding/margin below source + date. */
}

.page-button {
  color: rgb(240, 206, 156);
  display: flex;
  justify-content: center;
}

.page-change {
  background: none;
  color: rgb(7, 176, 255);
  border: none;
  padding: 0 .5rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0rem;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** Home Page ***************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
}

.home-page-title {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.home-welcome {
  line-height: 1.75rem;
  margin: 1rem 0 3rem;
  text-align: center;
  width: 75%;
}

.home-link {
  text-decoration: underline;
}

.home-box,
.home-box-mid {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 3rem;
}

.home-box:last-child {
  margin-bottom: 0rem;
}


.home-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-title {
  text-align: center;
  width: 30rem;
}

.home-description {
  line-height: 1.75rem;
  padding-top: 1rem;
  text-align: center;
}

.home-img,
.home-info {
  height: 350px;
  width: 500px;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** Graph Page **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.graph-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 5px;
  margin: auto;
}

.stock-select,
.time-select {
  background-color: rgb(172, 172, 172);
}

.stock-select option, .time-select option {
  color: rgb(20, 51, 97);
}

.form-submit {
  background-color: rgb(172, 172, 172);
  border-radius: .2rem;
  color: rgb(20, 51, 97);
  cursor: pointer;
  padding: .55rem;
}

.form-submit:hover {
  box-shadow: 0 .1rem .5rem 0 #000000, 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.error-API {
  color: red;
  font-size: 1.1rem;
  font-weight: 900;
  margin: auto auto 10px;
}

.chart {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 2rem auto;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* **************** Terms Page **************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */

.terms-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
  width: 80%;
}

.terms-page-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.terms-section,
.home-section {
  width: 100%;
}

.term-word,
.home-title {
  font-size: 1.75rem;
  padding-bottom: .25rem;
}

.term-definition,
.home-description,
.home-welcome {
  font-size: 1.2rem;
}

.term-box {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  margin: 2rem 0 0;
}

.term-box:last-child {
  border-bottom: none;
}


/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ************** Not Found Page ************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */
/* ******************************************** */


.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-not-found-img {
  position: relative;
  width: 100%;
}


.page-not-found-msg {
  position: absolute;
  color: white;
  font-size: 5rem;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: black;
}


/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ***************************************************** FOOTER ********************************************************* */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */


footer {
  background-color: rgb(27, 27, 27);
  color: white;
  margin: auto;
  padding: 2.5rem 0rem;
  text-align: center;
  width: 100%;
}

.contacts-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0rem auto 1.75rem;
  width: 80%;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-icon-box {
  display: flex;
  flex-direction: row;
  font-size: 1.75rem;
}

.footer-icon-box a,
.footer-link {
  color: white;
}

.footer-link {
  display: flex;
}

.footer-icon {
  padding: 0 .75rem;
}

.copyright-box {
  border-top: .1rem solid rgb(88, 88, 88);
  color: rgb(240, 206, 156);
  margin: auto;
  padding-top: 1.75rem;
  width: 80%;
}

.copyright-logo {
  font-size: .8rem;
}




/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ***************************************************** TABLET ********************************************************* */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */


/* MEDIA SIZES REFERENCE: https://medium.com/@sawanrathod/css3-media-query-cheat-sheet-1fab77ea3cb8 */


@media only screen and (max-width: 1500px) {

  .navbar-time {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .market-clock {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 1250px) {

  .hide-medium {
    display: none;
  }

  .nav-box {
    border-left: .25rem solid rgb(27, 27, 27);
  }

  nav {
    margin-left: auto;
    padding-right: 5rem;
  }

  .news-bar {
    border-right: none;
    width: 100%;
  }

  .app-main {
    flex-direction: column-reverse;
  }

}


@media only screen and (max-width: 1000px) {

  .navbar-menu {
    border: 1px solid rgb(88, 88, 88);
    border-top: none;
    border-bottom: none;
    border-left: none;
    flex-direction: column;
  }

  .navbar-menu-mini {
    display: flex;
    border: 1px solid rgb(88, 88, 88);
    border-top: none;
    background-color: rgb(240, 206, 156);
    flex-direction: column;
  }

  .navbar-time {
    border: none;
    flex-direction: row;
  }

  .market-clock {
    margin-left: 2rem;
  }

  .navbar-link-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem 2rem 1rem auto;
    width: 2rem;
    height: 2rem;
  }


  .nav-item {
    border: 1px solid rgb(88, 88, 88);
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 100%;
    font-size: 1rem;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list-mini {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .home-img,
  .home-info {
    height: 250px;
    width: 300px;
  }

  .home-box {
    flex-direction: column;
    margin: auto;
  }

  .home-box-mid {
    flex-direction: column-reverse;
    margin: auto;
  }

  .footer-link {
    font-size: 1rem;
  }

}



/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ***************************************************** MOBILE ********************************************************* */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */
/* ********************************************************************************************************************** */


@media only screen and (max-width: 800px) {
  .hide-small {
    display: none;
  }

  .navbar-time {
    font-size: 1.5rem;
    margin: auto 0;
    flex-direction: column;
  }

  .market-clock {
    margin: .5rem 0 0;
  }

  .site-logo {
    height: 1.4rem;
    width: 1.4rem;
  }

  .footer-link {
    padding-left: 2rem;
  }

  .footer-icon {
    height: 1rem;
    width: 1rem;
    padding: 0 .75rem;
  }
}

@media only screen and (max-width: 610px) {
  .hide-xs {
    display: none;
  }

  .header-stock-container {
    padding: .5rem 1.5rem;
  }

  .home-title {
    width: 20rem;
  }

  .term-word,
  .home-title {
    font-size: 1.75rem;
    padding-bottom: .25rem;
  }

  .stock-select, .time-select, .form-submit {
  margin: 1rem .2rem 0rem;
  padding: .25rem;
}

  .footer-link {
    font-size: 1rem;
  }

  .footer-nav {
    flex-direction: column;
  }
}